@import 'material-symbols/outlined.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/images/backgroundphotow.webp");
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #2020208e;
}

.scroll-overflow-all::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.scroll-overflow-all::-webkit-scrollbar-track {
  background: none;
}

.scroll-overflow-all::-webkit-scrollbar-thumb {
  background: #ffffff49;
  border-radius: 5px;
}


.scroll-overflow-all::-webkit-scrollbar-thumb:hover {
  background: #ffffff9c;
}